.swiper-slider{
    width: 30rem;
    margin: 0 auto;
   
    @media(min-width: $tablet-width){
        width: 72.7rem;
    }

    @media(min-width: $desktop-width-1){ 
        width: 101.9rem;
    }

    @media(min-width: $desktop-width-2){
        width: 111rem;
    }
}

.swiper-container{
    padding: 0 0 calc(2rem + 2.7rem) 0; //2.7rem опускает пагинацию к нижней границы слайда  

    @media(min-width: $tablet-width){
      padding: 0;
    } 
}

.swiper-slide{
    @media(min-width: $tablet-width){
        width: 24.2rem;
        height: 32.2rem;
    }

    @media(min-width: $desktop-width-1){ 
        width: 33.9rem;
        height: 45.3rem;
    }

    @media(min-width: $desktop-width-2){
        width: 37rem;
        height: 49.3rem;
    }
}

.swiper-pagination-bullet{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #D1D1D1;
    opacity: 1;

    @media(min-width: $tablet-width){
        display: none;
    }
}

.swiper-pagination-bullet-active{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #55A5B9;
}


