.social-list{
    @include list-style-reset;
    display: flex;

    &--header{
        @media(max-width:$mobile-width-only){
            width: 11.8rem;
            height: 3.8rem;
            margin: 0 0 2.6rem 0;
            padding: 0.4rem 0.3rem;
            border-radius: 2rem;
            background-color: #DBDBDB;
        }
    
        @media(min-width:$desktop-width-1){
            display: none;
        }
    }

    &--footer{
        justify-content: center;
        margin: 0 0 2rem 0;

        @media(min-width: $tablet-width){
            margin: 0 0 3rem 0;
        }
        
        @media(min-width: $desktop-width-1){ 
            margin: 0 0 3.5rem 0;
        }
        
    }
}

.social-list__item:not(:last-child){
    margin: 0 1.1rem 0 0;  

    @media(min-width:$desktop-width-1){
        margin: 0 2.2rem 0 0;  
    }
}

.social-list__phone{
    margin: 0 0 3rem 0;
    
    @media(min-width:$desktop-width-1){
        display: none;
    }

    @media(min-width:$desktop-width-1){
        display: none;
    }
}





